DATABASE_URL="postgres://user:pass@localhost:5432/fallenskies"
PASSWORD_SALT="9nQYUfi6oYwLizez5uPxABt77NTaZpKZFoLDU9F8j2o="
ARGON_SECRET="RuWXLbFrZkjv/eTsFF1TLrqppU0s8VyXSgFdXckSNFUpBXt9JHptBb8C4AcoLiQIdU5JkfwpdceIz41ka08ytjSghzQ0gcYNe2EcJxOWJm9I42QQkNlD3TKE9KwxVGC2PsMNF5B+oSLP4twSm0tao1EqOhO36skgyrLgtgHDadt0tgmlxRjeCw6pXVdfpZUagH8JtiOH01ETSsClluVsmqd9Y3CwlMw3qJg2Nj7hL+xY57XYboPVmvuHmD6S2y+wYG4jwGT2QxhrtOTPnom52IiT74y9tPrt1LTlzfrEG/5uMWLKxHpjWNrcv5QPBDbcFuX1MbDlWB2zbnCxbsvV"
ARGON_ASSOCIATED_DATA="PwoqXM7/QayKvLUrSrypfFNP4sInkXFWEvFWcqiRkyQrOPs1xSKGaA41vInFhzoPM56JCvVfg/QfI2NyDexUvqxCMsz9QGmshssTB+JWwHDr1LwtT5yy0BNfsBTiGlDowYHqoHW+BO9B1zvIT4YEr+wphJ0dKNKsr7c5NoKH3bnhiB5otCZaIAbxjmPTm4Jeux2gZxUkpGyRveEXHwYS1QSXaKgrFGiStRnxfVB/bM84VAE0ErN7npXHHCEpS08d3fCjP6yyyhtBnVRUPgPl7mkZP3lrFZeLYAz2gLREUDLyxVOaHhHIlAkg0mR35s8UcMRD6l3x24iODtMUgTXz"
